$bodyColor: rgb(212, 212, 212);

@import "layout";
@import "nav";
@import "footer";
@import "animations";

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $bodyColor;
}

.line-spacing {
    padding: 10px;
}

.line-spacing-20 {
    padding: 20px;
}

.index-container-spacing {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.index-image-text {
    display: grid;
    margin: auto;
}

.image-style {
    height: 300px;
    border: grey 2px dotted;
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.content {
    padding: 20px;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.p-italic {
    font-style: italic;
}

.img-size {
    float: left;
    max-width: 50px;
    max-height: 50px;
    margin-left: 12%;
    margin-top: -8%;
    padding-left: 0px;
    display: inline;
    overflow: auto;
    position: absolute;
}

.img-logo {
    height: 300px;
    width: 300px;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cursor-img {
    margin-top: 20px;
    padding: 5px;
    height: 200px;
}

.flex {
    display: flexbox;
    flex-flow: row-reverse;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: justify;
    align-items: justify;
}

.form-button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(249, 249, 250);
    cursor: pointer;
}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-15 {
    padding: 15px;
}

.div-polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.imgs-container {
    margin: auto;
    width: 100%;
    text-align: center;

    img {
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 200px;
    }
}

.align-center {
    text-align: center;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 20rem;
    margin: auto;
}

.index-imgs-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
}

.services-imgs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-items: last baseline;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #e2e2e2;

    &:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}

.form-control:focus {
    border-color: rgba(0, 136, 169, 0.8);
    box-shadow: 0 0 0 0.25rem rgba(0, 136, 169, 0.4);
}